* {
    margin: 0;
}

body {
    background-color: black;
}

.head {
    width: 100%;
    height: 80px;
    background-color: rgb(182, 178, 178);
    box-shadow: 0px 10px 6px rgb(63, 62, 62);
    margin-bottom: 0px;
    display: flex;
}

/* logo */
.logo {
    width: 80px;
    height: 40px;

    margin-top: 20px;
    margin-left: 160px;
    font-size: 40px;

}

ul {
    display: flex;
    list-style: none;
    font-size: 26px;

    padding-left: 300px;
    padding-top: 25px;
}

li {
    font-size: 30px;
    margin-left: 40px;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

/* container */
.container {
    width: 80%;
    margin: auto;
}

/* block----------------- */
.block-video video {
    width: 100%;
    height: 800px;
}

.container video {
    margin: 2px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 30%;
}